{% extends "layout.html" %}

{% block content %}

<div id="wrapper">
    <div id="query">How
        <input type="text" id="queryID" value="Pusheen" /> is my image?</div>

    <div id="upload-visible">Upload<input type="file" onchange="previewFile()" id="upload"></div> 

    <div class="descrip">xx</div>
    <div class="descrip">xx</div>
    <div class="descrip">xxx</div>
    
    <div id="box" class="hidden">
        <canvas></canvas>
        <img src="" id="preview" alt="preview">
    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
