<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>Textura</title>
    <!--external stylesheets and scripts-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style_all.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/ico-16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/ico-32.png') }}" sizes="32x32">

</head>

<body>
    <!--placeholder cuz I'm bad at CSS lol-->
    <div class="header">
        <a href="/"><img src="/static/img/logo2.png"></a>
    </div>
    {% block content %} {% endblock %}

</body>

</html>